<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../common/css/angular-material.min.css" />
  <link rel="stylesheet" href="../../common/css/bootstrap.min.css" />
    <!-- Angular Material requires Angular.js Libraries -->
  <script src="../../common/js/angular.min.js"></script>
  <script src="../../common/js/angular-animate.min.js"></script>
  <script src="../../common/js/angular-aria.min.js"></script>
  <script src="../../common/js/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="../../common/js/angular-material.min.js"></script>
  
  <script src="../js/enterprise.js"></script>
</head>
<body ng-app="EnterpriseApp">
	<div class="md-toolbar-tools">
   		<h2>
       		<a href="../../index.html"><span>SaaSDashboard</span></a>
   		</h2>
	</div>
  <div ng-cloak ng-controller="enterpriseCtrl"  class="md-inline-form" layout="column" >
  <md-content layout-padding>
    <md-tabs md-dynamic-height md-border-bottom >
      <md-tab label="Create Enterprise">
        <md-content class="md-padding"> 
        <md-card>
        <md-card-content>
        <div class="form-group" ng-form="enterpriseCreateForm">
        <div>
          <md-input-container>
            <label>Enterprise</label>
            <input type="text" ng-maxlength="255" ng-model="enterprise.name" required name="enterpriseName" />
            <ng-messages for="enterpriseCreateForm.enterpriseName.$error">
            <ng-message when="required">Enterprise Name is mandatory</ng-message>
            <ng-message when="maxlength">Enterprise Name should not exceed 255 characters</ng-message>
            </ng-messages>
        </md-input-container>
        </div>
        <div>
        <md-button class="md-primary md-raised" ng-click="createEnterprise(enterpriseCreateForm.$invalid)">Create</md-button>
        </div>
        </div>
        </md-card-content>
        </md-card>
        </md-content>
      </md-tab>
      <md-tab label="View Enterprises" ng-click="getEnterprises()">
        <md-content class="md-padding">
        <h2 class="md-display-1" style="color:#337ab7">Enterprises</h2>
          <table class="table" style="margin:auto">
          <tr class="bg-primary">
          <th>Enterprise Id</th>
          <th>Enterprise Name</th>
          </tr>
          <tr ng-repeat="x in data">
        	<td>{{x.id}}</td>
        	<td>{{x.name}}</td>
    	</tr>
          </table>
        </md-content>
      </md-tab>
      <md-tab label="Update Enterprise">
        <md-content class="md-padding">
          <md-card>
          <md-card-content>
          <div class="form-group" ng-form="enterpriseUpdateForm">
   		<div>
          	<md-input-container>
            	<label>Enterprise Id</label>
            	<input ng-model="enterprise.id" required type="number" ng-maxlength="9" name="enterpriseUpdateId"/>
            	<ng-messages for="enterpriseUpdateForm.enterpriseUpdateId.$error">
            	<ng-message when="required">Enterprise Id is mandatory</ng-message>
            	<ng-message when="maxlength">Enterprise id cannot exceed 9 characters</ng-message>
            	</ng-messages>
        	</md-input-container>
        </div>
    	<div>
          	<md-input-container>
            	<label>Enterprise</label>
            	<input ng-model="enterprise.name" required type="text" ng-maxlength="255" name="enterpriseUpdateName"/>
            	<ng-messages for="enterpriseUpdateForm.enterpriseUpdateName.$error">
            	<ng-message when="required">Enterprise name is mandatory</ng-message>
            	<ng-message when="maxlength">Enterprise name should not exceed 255 characters</ng-message>
            	</ng-messages>
        	</md-input-container>
        </div>
        
        <div>
        	<md-button class="md-primary md-raised" ng-click="updateEnterprise(enterpriseUpdateForm.$invalid)">Update</md-button>
        </div>
        </div>
        </md-card-content>
        </md-card>
        </md-content>
      </md-tab>
      <md-tab label="Delete Enterprise">
        <md-content class="md-padding">
          <md-card>
          <md-card-content>
          <div ng-form="enterpriseDeleteForm" class="form-group">
   		<div>
          	<md-input-container>
            	<label>Enterprise Id</label>
            	<input ng-model="enterprise.id" required name="enterpriseDeleteId" ng-maxlength="9" />
            	<ng-messages for="enterpriseDeleteForm.enterpriseDeleteId.$error">
            	<ng-message when="required">Enterprise Id is mandatory</ng-message>
            	<ng-message when="maxlength">Enterprise id cannot exceed 9 characters</ng-message>
            	</ng-messages>
        	</md-input-container>
        </div>      
        <div>
        	<md-button class="md-primary md-raised" ng-click="deleteEnterprise(enterpriseDeleteForm.$invalid)">Delete</md-button>
        </div>
        </div>
        </md-card-content>
        </md-card>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
  
</body>
</html>