<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/angular-material.min.css" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- Angular Material requires Angular.js Libraries -->
  <script src="../js/angular.min.js"></script>
  <script src="../js/angular-animate.min.js"></script>
  <script src="../js/angular-aria.min.js"></script>
  <script src="../js/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="../js/angular-material.min.js"></script>
  
  <script type="text/javascript">    
    var app = angular.module('BlankApp', ['ngMaterial']);
    app.controller('enterpriseCtrl', function($scope,$http){
        $scope.getEnterprises = function() {
            //alert('test');
            var req = { method: 'GET',
                        url: 'http://localhost:8080/SaasDashboard/rest/enterprise/all'
                        };
            $http(req).then(
                // Success
                function(response){
                    //alert('success');
                    $scope.data = response.data;
                },
                // Error
                function(response){
                    alert('error');
                }
            );
        }
    });
  </script>
</head>
<body ng-app="BlankApp">
  
  <div ng-cloak ng-controller="enterpriseCtrl"  class="md-inline-form" layout="column" >
  <md-content layout-padding>
    <md-tabs md-dynamic-height md-border-bottom >
      <md-tab>
      <md-tab-label>Create Enterprise</md-tab-label>
        <md-tab-body> 
        <div>
          <md-input-container>
            <label>Enterprise</label>
            <input ng-model="enterprise.name" />
        </md-input-container>
        </div>
        <div>
        <md-button class="md-primary md-raised">Create</md-button>
        </div>
        </md-tab-body>
      </md-tab>
      <md-tab label="View Enterprises" ng-click="getEnterprises()">
        <md-content class="md-padding">
        <h2 class="md-display-1" style="color:#337ab7">Enterprises</h2>
          <table class="table" style="margin:auto">
          <tr class="bg-primary">
          <th>Enterprise Id</th>
          <th>Enterprise Name</th>
          </tr>
          <tr ng-repeat="x in data">
        	<td>{{x.id}}</td>
        	<td>{{x.name}}</td>
    	</tr>
          </table>
        </md-content>
      </md-tab>
      <md-tab label="three">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Test3</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
  
</body>
</html>